<div id="dashboard">
  <mat-card>Dashboard</mat-card>

  <mat-divider></mat-divider>

  <mat-card-content>
    <div [chart]="chart"></div>
  </mat-card-content>

  <mat-divider></mat-divider>

  <div class="dashboard mat-elevation-z8">
    <table *ngIf="dataSource?.listaControleLancamento" mat-table [dataSource]="dataSource.listaControleLancamento">
      <ng-container matColumnDef="dataLancamentoContaCorrenteCliente">
        <th mat-header-cell *matHeaderCellDef> Data do lançamento </th>
        <td mat-cell *matCellDef="let element"> {{ element.dataLancamentoContaCorrenteCliente }} </td>
      </ng-container>

      <ng-container matColumnDef="descricaoGrupoPagamento">
        <th mat-header-cell *matHeaderCellDef> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{ element.descricaoGrupoPagamento }} </td>
      </ng-container>

      <ng-container matColumnDef="numeroEvento">
        <th mat-header-cell *matHeaderCellDef> Número </th>
        <td mat-cell *matCellDef="let element"> {{ element.numeroEvento }} </td>
      </ng-container>

      <ng-container matColumnDef="nomeSituacaoRemessa">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{ element.lancamentoContaCorrenteCliente.nomeSituacaoRemessa }} </td>
      </ng-container>

      <ng-container matColumnDef="dataEfetivaLancamento">
        <th mat-header-cell *matHeaderCellDef> Data de confirmação </th>
        <td mat-cell *matCellDef="let element"> {{ element.dataEfetivaLancamento }} </td>
      </ng-container>

      <ng-container matColumnDef="lancamentoContaCorrenteCliente">
        <th mat-header-cell *matHeaderCellDef> Dados bancários </th>
        <td mat-cell *matCellDef="let element"> {{ element.lancamentoContaCorrenteCliente.dadosDomicilioBancario.codigoBanco }} {{ element.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroAgencia }} {{ element.lancamentoContaCorrenteCliente.dadosDomicilioBancario.numeroContaCorrente }} </td>
      </ng-container>

      <ng-container matColumnDef="valorLancamentoRemessa">
        <th mat-header-cell *matHeaderCellDef> Valor final </th>
        <td mat-cell *matCellDef="let element"> {{ element.valorLancamentoRemessa | currencyFormat }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
